<br>
<div class="container">
    <div class="card-group">
        <div class="card" style="width: 18rem;">
        <img src="assets/img/SAMSUNG-GALAXY-NOTE-9-1.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Samsung Galaxy Note 9</h5>
                <p class="card-text">
                    -Bateria de 4000 mAh <br>
                    -Almacenamiento: 1TB <br>
                    -S-Pen Bluetooth
                </p>
            </div>
            <a href="#" class="btn btn-primary">Comprar</a>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/img/iPhoneXsMax-600.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">iPhone XS Max</h5>
                <p class="card-text">
                    -Pantalla OLED <br>
                    -Tecnologia HDR 
                </p>
            </div>
            <a href="#" class="btn btn-primary">Comprar</a>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/img/iPhone-X-600.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">iPhone X</h5>
                <p class="card-text">
                    -Pantalla OLED <br>
                    -Camara sensible a la profundidad <br>
                    -Carga inalambrica
                </p>
            </div>
            <a href="#" class="btn btn-primary">Comprar</a>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/img/motorola-z3-play1-640x454.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Moto Z3</h5>
                <p class="card-text">
                    -Pantalla Max Vision Super AMOLED <br>
                    -Pantalla resistente a rayaduras
                </p>
            </div>
            <a href="#" class="btn btn-primary">Comprar</a>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/img/samsung-9-600.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Samsung Galaxy S9</h5>
                <p class="card-text">
                    -Carga inalambrica <br>
                    -Ranura SD 
                </p>
            </div>
            <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>